*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.notesListContainer{
    width: 30%;
    position: relative;
}

.notesDisplayContainer{
    background-color:  rgba(218, 229, 245, 1);
    position: relative;
    width: 70%;
}


@media (max-width: 1024px) {

    .notesListContainer{
        min-width: 100%; /* Full viewport width */
        min-height: 100%; /* Full viewport height */    }
  }


.pocketNotes{
    text-align: center;
    padding: 8%;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 41.02px;
    letter-spacing: 0.02em;
    position: sticky;
    top: 0;
}

.notesList{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 75vh;
}

::-webkit-scrollbar {
    width: 6px; 
  }
  
::-webkit-scrollbar-thumb {
    background-color: #ffffff;   /* White color for the scrollbar thumb */
    border-radius: 10px;         /* Curved corners for the thumb */
  }
  
::-webkit-scrollbar-track {
    background-color: #808080;   /* Gray color for the track */
    border-radius: 10px;
}  
  /* Hide the scrollbar buttons (arrows) */
::-webkit-scrollbar-button {
    display: none;               /* Hide the top and bottom buttons */
}

.noteListItem{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    gap:10px;
    height: 65px;
}

.noteListItem:hover{
    background-color: #e0e0e0;
    border-radius: 10px;
}

.notesName{
    font-family: Roboto;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */    
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration-skip-ink: none;    
}

.notesInitial{
    font-family: Roboto;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    font-size: 24px;
    font-weight: 500;
    line-height: 23.45px;
    letter-spacing: 0.02em;
    color: white;
    border-radius : 50%;
    height : 50px;
    width: 50px;
    margin: 8px;
}

.notesImage{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.notesImage img{
    height: 200px;
    width: 400px;
}

.pocketNotesTitle{
    font-family: Roboto;
    width: 100%;
    text-align: center;    
    font-size: 35px;
    font-weight: 700;
    line-height: 58.59px;
    letter-spacing: 0.02em;
}

.pocketNotesDescription{
    font-family: Roboto;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;  
}

.encryption{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.encryptionText{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 32px; */
    letter-spacing: 0.02em;
}

.addButton{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.addButton img{
    height: 50px;
    width: 50px;
}

.mainContainer.blur{
    filter: blur(5px); 
    transition: filter 0.3s ease;
}