.mainContainer{
    display: flex;
    width: 100%;
}
.notesListContainer{
    /* display: flex;
    width: 30%; */
    width: 30%;
    position: relative;
    height: 100vh;
}

.notesDisplayContainer{
    /* width: 100%; */
    background-color:  rgba(218, 229, 245, 1);
    position: relative;
    width: 70%;
    height: 100vh;
}

.pocketNotes{
    text-align: center;
    padding: 8%;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 41.02px;
    letter-spacing: 0.02em;
    position: sticky;
    top: 0;
}

.notesList{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}


.noteListItem{
    margin: 15px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    gap:10px;
    height: 50px;
}

.noteListItem:hover{
    background-color: #e0e0e0;
}

.notesName{
    font-family: Roboto;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */    
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration-skip-ink: none;    
}

.notesInitial{
    font-family: Roboto;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    font-size: 24px;
    font-weight: 500;
    line-height: 23.45px;
    letter-spacing: 0.02em;
    color: white;
    border-radius : 50%;
    height : 50px;
    width: 50px;
}



.notesImage{
    margin-top: 15%;
    margin-left: 10%;
    transform: translateX(10%); 
}

.notesImage img{
    height: 200px;
    width: 400px;
}

.pocketNotesTitle{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 58.59px;
    letter-spacing: 0.02em;
    transform: translateX(40%);
}

.pocketNotesDescription{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    transform: translateX(20%);    
}

.encryption{
    position: absolute;
    bottom: 5px;
    padding-left: 400px;
}

.addButton{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.addButton img{
    height: 50px;
    width: 50px;
}



.mainContainer.blur{
    filter: blur(5px); /* Adjust blur intensity as needed */
    transition: filter 0.3s ease; /* Smooth transition for blur */
  }
  