.root{
    position: absolute;
}


    .modalBox{
        z-index: 1;
        height: 170px;
        width: 500px;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        border: 2px solid;
    }

@media (max-width: 1024px) {
    /* Tablet portrait mode or large phones */
    .modalBox{
        top: 40%;
        left: 0%;
        transform: scale(0.75) translate(-15%,0%);
    }

    .createButton button{
        width: 50%; /* or any fixed width */
        margin-left: auto;
        margin-right: auto;    }
  }

.modalBoxCreateText{
    font-family: Roboto;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.035em;
    text-align: left;
}

.modalBoxGroupNameText{
    font-family: Roboto;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;    
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.035em;
    text-align: left;
}

.modalBoxGroupNameText input{
    border-radius: 10px;
    height: 30px;
    margin-left: 30px;
    width: 300px;
    padding: 10px;
}

.modalBoxColor{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.modalBoxColorText{
    font-family: Roboto;
    display: flex;
    align-items: center;  
    margin-top: 10px;
    margin-left: 20px;      
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.035em;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.createButton button{
    float:right;
    margin: 10px;
    /* height: 20px;
    width: 50px; */
    width: 150px;
    height: 35px;
    text-align: center;
    background-color: #001F8B;    
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.035em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}